<%- include('partials/header') -%>

<body>

  <div class="min-h-full">
    <nav class="bg-white-800 shadow">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-10 w-20" src="../assets/img/blogiologo.png" alt="Your Company">
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a href="/profile" class="text-gray-600 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Profile</a>
                <a href="/feed" class="text-gray-600 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Feed</a>  
              </div>
            </div>
          </div>
          <div class="hidden md:block">
            <div class="ml-4 flex items-center md:ml-6">


              <!-- Profile dropdown -->
              <div class="relative ml-3">
                <div>
                  <button id="showBtnProfile" type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <!-- Heroicon name: outline/bars-3 -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                    </svg>
                  </button>
                </div>

                <div id="menuProfile" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-700 hover:text-white" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>

                  <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-red-700 hover:text-white" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="-mr-2 flex md:hidden">
            <!-- Mobile menu button -->
            <button id="showMobileBtnProfile" type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <!-- Heroicon name: outline/bars-3 -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
              </svg>
            </button> 
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="md:hidden hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        </div>
        <div class="border-t border-gray-700 pt-4 pb-3">
          <div class="flex items-center px-5">
            <div class="flex-shrink-0">
              <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </div>
            <div class="ml-3">
              <div class="text-base font-medium leading-none text-white"><%= user.userName %></div>
              <div class="text-sm font-medium leading-none text-gray-400 mb-3"><%= user.email %></div>
            </div>

          </div>
          <div class="mt-3 space-y-1 px-2">
            <!-- <a href="/feed" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Feed</a> -->
            <a href="/profile" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Profile</a>
            <a href="/feed" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Feed</a>

            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Settings</a>

            <a href="/logout" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-red-700 hover:text-white">Sign out</a>    
          </div>
        </div>
      </div>
    </nav>
    <main>
      <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        <!-- Replace with your content -->

        <div class="max-w-screen-lg mx-auto">
          <!-- <header class="flex items-center justify-between py-2">
            <a href="#" class="px-2 lg:px-0 font-bold">
              Tech Blog
            </a>
            <button class="block md:hidden px-2 text-3xl">
              <i class='bx bx-menu'></i>
            </button>
            <ul class="hidden md:inline-flex items-center">
              <li class="px-2 md:px-4">
                <a href="" class="text-green-800 font-semibold hover:text-green-600"> Home </a>
              </li>
              <li class="px-2 md:px-4">
                <a href="" class="text-gray-500 font-semibold hover:text-green-600"> About </a>
              </li>
              <li class="px-2 md:px-4">
                <a href="" class="text-gray-500 font-semibold hover:text-green-600"> Press </a>
              </li>
              <li class="px-2 md:px-4">
                <a href="" class="text-gray-500 font-semibold hover:text-green-600"> Contact </a>
              </li>
              <li class="px-2 md:px-4 hidden md:block">
                <a href="" class="text-gray-500 font-semibold hover:text-green-600"> Login </a>
              </li>
              <li class="px-2 md:px-4 hidden md:block">
                <a href="" class="text-gray-500 font-semibold hover:text-green-600"> Register </a>
              </li>
            </ul>
      
          </header>
          header ends here -->
          <main class="mt-10">
      
            <div class="mb-4 md:mb-0 w-full mx-auto relative">
              <div class="px-4 lg:px-0">
                <h2 class="text-4xl font-semibold text-gray-800 leading-tight">
                  <%=post.title%>
                </h2>
                <a 
                  href="#"
                  class="py-2 text-gray-700 inline-flex items-center justify-center mb-2"
                >
                  <%= post.caption %> 
                </a>
              </div>
      
              <!-- <img src="https://images.unsplash.com/photo-1587614387466-0a72ca909e16?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" class="w-full object-cover lg:rounded" style="height: 28em;"/> -->
              <img src="<%=post.image%>" class="w-full object-cover lg:rounded" style="height: 20em;"/>

            </div>
      
            <div class="flex flex-col lg:flex-row lg:space-x-12">
      
              <div class="px-4 lg:px-0 mt-12 text-gray-700 text-lg leading-relaxed w-full lg:w-3/4">
                <p class="pb-6"><%= post.text %> </p>
      
                
      
              </div>
      
              <div class="w-full lg:w-1/4 m-auto mt-12 max-w-screen-sm">
                <div class="p-4 border-t border-b md:border md:rounded">
                  <div class="flex py-2">
                    <img src="https://randomuser.me/api/portraits/men/97.jpg"
                      class="h-10 w-10 rounded-full mr-2 object-cover" />
                    <div>
                      <p class="font-semibold text-gray-700 text-sm"> <%=createdBy.userName%> </p>
                      <p class="font-semibold text-gray-600 text-xs"> Editor </p>
                    </div>
                  </div>
                  <!-- <p class="text-gray-700 py-3">
                    Mike writes about technology
                    Yourself required no at thoughts delicate landlord it be. Branched dashwood do is whatever it.
                  </p> -->
                  <a href="#" class="px-2 py-1 text-white bg-gray-800 hover:bg-gray-900 flex w-full items-center justify-center rounded">
                    Profile 
                    <i class='bx bx-user-plus ml-2' ></i>
                  </a>
                  <div class="flex items-center justify-between pt-2">
                    <div class="flex space-x-2">
                      <!-- <span class="self-center text-sm">by Leroy Jenkins</span> -->
                      <form
                      class="col-1"
                      action="/post/likePost/<%= post.id %>?_method=PUT"
                      method="POST"
                      >
                        <button type="submit" class="inline-flex items-center px-4 py-2 bg-gray-600 hover:bg-gray-700 text-white text-sm font-medium rounded-md">
                          <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                          </svg> -->
                        
                          Like
                        </button>
                      </form>
                    </div>
                    <span class="text-xs"><%=post.likes%> : Likes</span>
                  </div>

                </div>
              </div>
      
            </div>
          </main>
        </div>

        <!-- /End replace -->
      </div>
    </main>
  </div>
  <script src="../profileUi.js"></script>

</body>

<%- include('partials/footer') -%>
