<%- include('partials/header') -%>

<body>

  <div class="min-h-full">
    <nav class="bg-white-800 shadow">
      <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex h-16 items-center justify-between">
          <div class="flex items-center">
            <div class="flex-shrink-0">
              <img class="h-10 w-20" src="../assets/img/blogiologo.png" alt="Your Company">
            </div>
            <div class="hidden md:block">
              <div class="ml-10 flex items-baseline space-x-4">
                <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <a href="/profile" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" aria-current="page">Profile</a>
                <a href="/feed" class="text-gray-600 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Feed</a>  
              </div>
            </div>
          </div>
          <div class="hidden md:block">
            <div class="ml-4 flex items-center md:ml-6">


              <!-- Profile dropdown -->
              <div class="relative ml-3">
                <div>
                  <button id="showBtnProfile" type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
                    <span class="sr-only">Open main menu</span>
                    <!-- Heroicon name: outline/bars-3 -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                    </svg>
                  </button>
                </div>

                <div id="menuProfile" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-700 hover:text-white" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>

                  <a href="/logout" class="block px-4 py-2 text-sm text-gray-700 hover:bg-red-700 hover:text-white" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="-mr-2 flex md:hidden">
            <!-- Mobile menu button -->
            <button id="showMobileBtnProfile" type="button" class="inline-flex items-center justify-center rounded-md bg-white p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <!-- Heroicon name: outline/bars-3 -->
              <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
              </svg>
            </button> 
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <div class="md:hidden hidden" id="mobile-menu">
        <div class="space-y-1 px-2 pt-2 pb-3 sm:px-3">
          <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        </div>
        <div class="border-t border-gray-700 pt-4 pb-3">
          <div class="flex items-center px-5">
            <div class="flex-shrink-0">
              <img class="h-10 w-10 rounded-full" src="<%=user.image%>" alt="">
            </div>
            <div class="ml-3">
              <div class="text-base font-medium leading-none text-white"><%= user.userName %></div>
              <div class="text-sm font-medium leading-none text-gray-400 mb-3"><%= user.email %></div>
            </div>

          </div>
          <div class="mt-3 space-y-1 px-2">
            <!-- <a href="/feed" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Feed</a> -->
            <a href="/profile" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Profile</a>
            <a href="/feed" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Feed</a>

            <a href="#" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-gray-700 hover:text-white">Settings</a>

            <a href="/logout" class="block rounded-md px-3 py-2 text-base font-medium text-gray-400 hover:bg-red-700 hover:text-white">Sign out</a>    
          </div>
        </div>
      </div>
    </nav>
    <main>
      <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        <!-- Replace with your content -->

        <div class="md:col-span-4">
          <div class="px-4 sm:px-0">
            <h3 class="text-lg font-medium leading-6 text-gray-900"><%= userProfile[0].userName %>'s blogs</h3>

            <% for(var i=0; i<posts.length; i++) {%>

            <div class="bg-white-800 mt-3 shadow">
              <div class="container grid grid-cols-12 mx-auto ">
                <div class="bg-no-repeat bg-cover dark:bg-gray-700 col-span-full lg:col-span-4" style="background-image: url('<%=posts[i].image%>'); background-position: center center; background-size: cover;"></div>
                <div class="flex flex-col p-6 col-span-full row-span-full lg:col-span-8 lg:p-10">
                  <h1 class="text-3xl font-semibold"><%- posts[i].title %></h1>
                  <p class="flex-1 pt-2"> <%= posts[i].caption %> </p>
                  <a rel="noopener noreferrer" href="/post/<%=posts[i].id%>" class="inline-flex items-center pt-2 pb-6 space-x-2 text-sm text-gray-400">
                    <span>Read more</span>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4">
                      <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                  </a>
                  <div class="flex items-center justify-between pt-2">
                    <div class="flex space-x-2">
                      <!-- <span class="self-center text-sm">by Leroy Jenkins</span> -->
                    
                    </div>
                    <span class="text-xs"><%=posts[i].likes%> : Likes</span>
                  </div>
                </div>
              </div>
            </div>

            <% } %>

          </div>
        </div>

        <!-- /End replace -->
      </div>
    </main>
  </div>
  <script src="../profileUi.js"></script>

</body>
<%- include('partials/footer') -%>